In [1]:
import pandas as pd
import numpy as np

# Load Dataset Description

In [2]:
with open("data/bank/bank-names.txt") as f:
    print(f.read())

Citation Request:
  This dataset is public available for research. The details are described in [Moro et al., 2011].
  Please include this citation if you plan to use this database:

  [Moro et al., 2011] S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.
  In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM'2011, pp. 117-121, GuimarÃ£es, Portugal, October, 2011. EUROSIS.

  Available at: [pdf] http://hdl.handle.net/1822/14838
                [bib] http://www3.dsi.uminho.pt/pcortez/bib/2011-esm-1.txt

1. Title: Bank Marketing

2. Sources
   Created by: Paulo Cortez (Univ. Minho) and SÃ©rgio Moro (ISCTE-IUL) @ 2012

3. Past Usage:

  The full dataset was described and analyzed in:

  S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.
  In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference - ESM'2011, pp. 117-121, GuimarÃ£es,
  Portugal, October, 2011. EUROSIS.

4. Relevant Information:

   The data is related with direct marketing campaigns of a Portuguese banking institution.
   The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required,
   in order to access if the product (bank term deposit) would be (or not) subscribed.

   There are two datasets:
      1) bank-full.csv with all examples, ordered by date (from May 2008 to November 2010).
      2) bank.csv with 10% of the examples (4521), randomly selected from bank-full.csv.
   The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g. SVM).

   The classification goal is to predict if the client will subscribe a term deposit (variable y).

5. Number of Instances: 45211 for bank-full.csv (4521 for bank.csv)

6. Number of Attributes: 16 + output attribute.

7. Attribute information:

   For more information, read [Moro et al., 2011].

   Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services")
   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "unknown","secondary","primary","tertiary")
   5 - default: has credit in default? (binary: "yes","no")
   6 - balance: average yearly balance, in euros (numeric)
   7 - housing: has housing loan? (binary: "yes","no")
   8 - loan: has personal loan? (binary: "yes","no")
   # related with the last contact of the current campaign:
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
  10 - day: last contact day of the month (numeric)
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  12 - duration: last contact duration, in seconds (numeric)
   # other attributes:
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

  Output variable (desired target):
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: None

# Load Dataset

In [3]:
# reading csv files
bank_data =  pd.read_csv('data/bank/bank-full.csv', sep=";")
print("Rows in Dataset: " + str(len(bank_data)))
bank_data

Rows in Dataset: 45211

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [4]:
bank_data = bank_data.rename(columns={"y":"term_deposit"})

# Data Preprocessing

### - Missings
Deal with missing values:
- Represented by **"unknown"** in bank_data

In [5]:
bank_data = bank_data.replace({"unknown": np.nan})
print("-------------\nMissing Values in Bank Data:\n", bank_data.isna().sum())
print("-------------\nMissing Values in Bank Data in %:\n", bank_data.isna().sum()/len(bank_data))

-------------
Missing Values in Bank Data:
 age                 0
job               288
marital             0
education        1857
default             0
balance             0
housing             0
loan                0
contact         13020
day                 0
month               0
duration            0
campaign            0
pdays               0
previous            0
poutcome        36959
term_deposit        0
dtype: int64
-------------
Missing Values in Bank Data in %:
 age             0.000000
job             0.006370
marital         0.000000
education       0.041074
default         0.000000
balance         0.000000
housing         0.000000
loan            0.000000
contact         0.287983
day             0.000000
month           0.000000
duration        0.000000
campaign        0.000000
pdays           0.000000
previous        0.000000
poutcome        0.817478
term_deposit    0.000000
dtype: float64

In [6]:
pd.crosstab(bank_data["previous"], bank_data["pdays"], normalize="columns")

pdays,-1,1,2,3,4,5,6,7,8,9,...,805,808,826,828,831,838,842,850,854,871
previous,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.333333,0.378378,0.0,1.0,0.454545,0.3,0.142857,0.52,0.166667,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.066667,0.216216,0.0,0.0,0.272727,0.2,0.285714,0.28,0.416667,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
3,0.0,0.133333,0.189189,0.0,0.0,0.181818,0.3,0.000000,0.08,0.250000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.027027,0.0,0.0,0.000000,0.0,0.142857,0.00,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.066667,0.108108,0.0,0.0,0.090909,0.0,0.142857,0.00,0.083333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.133333,0.027027,1.0,0.0,0.000000,0.1,0.142857,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.200000,0.027027,0.0,0.0,0.000000,0.0,0.142857,0.04,0.083333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.066667,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.1,0.000000,0.04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.000000,0.027027,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
bank_data = bank_data.dropna(subset=['job', 'education'])
# use contact 'unknown' as extra class so that we don't have to drop more then 10000 rows
bank_data = bank_data.replace({'contact': {np.nan: "unknown"}})

bank_data = bank_data.drop(columns=['poutcome', 'pdays'])
print("-------------\nMissing Values in Bank Data:\n", bank_data.isna().sum())

-------------
Missing Values in Bank Data:
 age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
duration        0
campaign        0
previous        0
term_deposit    0
dtype: int64

### - Encoding

In [8]:
print("-------------\nDatatypes in Bank Data:\n", bank_data.dtypes)

-------------
Datatypes in Bank Data:
 age              int64
job             object
marital         object
education       object
default         object
balance          int64
housing         object
loan            object
contact         object
day              int64
month           object
duration         int64
campaign         int64
previous         int64
term_deposit    object
dtype: object

In [9]:
for column in bank_data.columns:
    if bank_data[column].dtype=="O":
        print(bank_data[column].value_counts())

blue-collar      9278
management       9216
technician       7355
admin.           5000
services         4004
retired          2145
self-employed    1540
entrepreneur     1411
unemployed       1274
housemaid        1195
student           775
Name: job, dtype: int64
married     25946
single      12219
divorced     5028
Name: marital, dtype: int64
secondary    23131
tertiary     13262
primary       6800
Name: education, dtype: int64
no     42411
yes      782
Name: default, dtype: int64
yes    24292
no     18901
Name: housing, dtype: int64
no     36086
yes     7107
Name: loan, dtype: int64
cellular     28213
unknown      12286
telephone     2694
Name: contact, dtype: int64
may    13192
jul     6601
aug     6037
jun     4980
nov     3842
apr     2820
feb     2533
jan     1318
oct      690
sep      532
mar      448
dec      200
Name: month, dtype: int64
no     38172
yes     5021
Name: term_deposit, dtype: int64

In [10]:
# encode binary columns
bank_data = bank_data.replace({"no":0, "yes":1}) # encode all binary columns numerically

# encode month quarterly
bank_data = bank_data.replace({"month":{"jan":"Q1", "feb":"Q1", "mar":"Q1", 
                                        "apr":"Q2", "may":"Q2", "jun":"Q2", 
                                        "jul":"Q3", "aug":"Q3", "sep":"Q3",
                                        "oct":"Q4", "nov":"Q4", "dec":"Q4"}}) # encode all binary columns numerically

# encode day of the month (first, second, third section of the month)
days_dict={}
for day in range(1,32):
    if day <= 10:
        days_dict[day] = "1-10"
    elif 10 < day <= 20:
        days_dict[day] = "11-20"
    else:
        days_dict[day] = "21-31"
        
bank_data = bank_data.replace({"day":days_dict})

In [11]:
# save preprocessed data
bank_data.to_csv('data/bank/bank_preprocessed.csv', index=False)

# Statistics, One Hot Encoding, Scaling
These steps will also be implemented in the web app, the data will be saved and loaded without one hot encoding and scaling.

In [12]:
bank_data["term_deposit"].value_counts()

0    38172
1     5021
Name: term_deposit, dtype: int64

In [13]:
# will also be implemented in web app

type_dict = {"loan":object, # change type of binary columns to object for statistics
            "default":object,
             "housing":object,
             "term_deposit":object
               }

bank_data = bank_data.astype(type_dict)

print("Categorical and Binary Columns:")
for column in bank_data.columns:
    if bank_data[column].dtype=="O":
        print(bank_data[column].value_counts(), "\n")

print("Numerical Columns:")
round(bank_data.describe(),1)

Categorical and Binary Columns:
blue-collar      9278
management       9216
technician       7355
admin.           5000
services         4004
retired          2145
self-employed    1540
entrepreneur     1411
unemployed       1274
housemaid        1195
student           775
Name: job, dtype: int64

married     25946
single      12219
divorced     5028
Name: marital, dtype: int64

secondary    23131
tertiary     13262
primary       6800
Name: education, dtype: int64

0    42411
1      782
Name: default, dtype: int64

1    24292
0    18901
Name: housing, dtype: int64

0    36086
1     7107
Name: loan, dtype: int64

cellular     28213
unknown      12286
telephone     2694
Name: contact, dtype: int64

11-20    17616
1-10     13060
21-31    12517
Name: day, dtype: int64

Q2    20992
Q3    13170
Q4     4732
Q1     4299
Name: month, dtype: int64

0    38172
1     5021
Name: term_deposit, dtype: int64

Numerical Columns:

           age   balance  duration  campaign  previous
count  43193.0   43193.0   43193.0   43193.0   43193.0
mean      40.8    1354.0     258.3       2.8       0.6
std       10.5    3042.1     258.2       3.1       2.3
min       18.0   -8019.0       0.0       1.0       0.0
25%       33.0      71.0     103.0       1.0       0.0
50%       39.0     442.0     180.0       2.0       0.0
75%       48.0    1412.0     318.0       3.0       0.0
max       95.0  102127.0    4918.0      58.0     275.0

In [14]:
type_dict = {"loan":int, # change type of binary columns to object for statistics
            "default":int,
             "housing":int,
             "term_deposit":int
               }

bank_data = bank_data.astype(type_dict)


# create one hot encoding for categorical variables
bank_data=pd.get_dummies(bank_data)

In [16]:
bank_data

,age,default,balance,housing,loan,duration,campaign,previous,term_deposit,job_admin.,...,contact_cellular,contact_telephone,contact_unknown,day_1-10,day_11-20,day_21-31,month_Q1,month_Q2,month_Q3,month_Q4
0,58,0,2143,1,0,261,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
1,44,0,29,1,0,151,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
2,33,0,2,1,1,76,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
5,35,0,231,1,0,139,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
6,28,0,447,1,1,217,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,825,0,0,977,3,0,1,0,...,1,0,0,0,1,0,0,0,0,1
45207,71,0,1729,0,0,456,2,0,1,0,...,1,0,0,0,1,0,0,0,0,1
45208,72,0,5715,0,0,1127,5,3,1,0,...,1,0,0,0,1,0,0,0,0,1
45209,57,0,668,0,0,508,4,0,0,0,...,0,1,0,0,1,0,0,0,0,1
45210,37,0,2971,0,0,361,2,11,0,0,...,1,0,0,0,1,0,0,0,0,1

In [17]:
columns_to_normalize = ['age', 'balance', 'duration', 'campaign', 'previous']

bank_data[columns_to_normalize] = bank_data[columns_to_normalize].apply(lambda x:(x-x.min()) / (x.max()-x.min()))
#bank_data[columns_to_normalize] = bank_data[columns_to_normalize].apply(lambda x:((x-x.mean())/ x.std(), axis=0))

bank_data

,age,default,balance,housing,loan,duration,campaign,previous,term_deposit,job_admin.,...,contact_cellular,contact_telephone,contact_unknown,day_1-10,day_11-20,day_21-31,month_Q1,month_Q2,month_Q3,month_Q4
0,0.519481,0,0.092259,1,0,0.053070,0.000000,0.000000,0,0,...,0,0,1,1,0,0,0,1,0,0
1,0.337662,0,0.073067,1,0,0.030704,0.000000,0.000000,0,0,...,0,0,1,1,0,0,0,1,0,0
2,0.194805,0,0.072822,1,1,0.015453,0.000000,0.000000,0,0,...,0,0,1,1,0,0,0,1,0,0
5,0.220779,0,0.074901,1,0,0.028264,0.000000,0.000000,0,0,...,0,0,1,1,0,0,0,1,0,0
6,0.129870,0,0.076862,1,1,0.044124,0.000000,0.000000,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.428571,0,0.080293,0,0,0.198658,0.035088,0.000000,1,0,...,1,0,0,0,1,0,0,0,0,1
45207,0.688312,0,0.088501,0,0,0.092721,0.017544,0.000000,1,0,...,1,0,0,0,1,0,0,0,0,1
45208,0.701299,0,0.124689,0,0,0.229158,0.070175,0.010909,1,0,...,1,0,0,0,1,0,0,0,0,1
45209,0.506494,0,0.078868,0,0,0.103294,0.052632,0.000000,0,0,...,0,1,0,0,1,0,0,0,0,1
45210,0.246753,0,0.099777,0,0,0.073404,0.017544,0.040000,0,0,...,1,0,0,0,1,0,0,0,0,1

In [322]:
#bank_data.to_csv('data/bank/bank_preprocessed.csv', index=False)